@import "tailwindcss";

@theme {
  --color-primary: #0864f8;
  --color-primary-dark: #0b46a4;
  --color-primary-light: #ebf3ff;

  --radius-xl: 12px;
  --radius-2xl: 16px;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    scrollbar-width: none;
  }
}
